* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	padding-top: 2rem;
	font-family: System-ui, sans-serif;
	color: rgb(0, 0, 0);
	line-height: 1.4;
	background: #000000;
}

.wrap {
	width: 65vmin;
	display: grid;
	place-items: center;
	margin-top: 3rem;
}
.wrap > * {
	transition: all 0.4s ease-in-out;
}

/* card and contents */
.card {
	perspective: 200px;
	position: relative;
	padding: 1rem;
	filter: drop-shadow(0.25rem 0.25rem 0.5rem rgba(62, 2, 2, 0.7));
	cursor: pointer;
}
.card::before,
.card::after {
	content: "";
	width: 50%;
	height: 100%;
	position: absolute;
	top: 0;
	background: cornsilk;
	transition: transform 0.4s ease, border 0.4s ease-in-out;
}
.card::before {
	left: 0;
	border: 2px solid indigo;
	border-right: none;
	border-radius: 0;
	transform-origin: center bottom;

	/* skew the left side */
	transform: skewX(-2deg);

	z-index: -1;
}
.card::after {
	right: 0;
	border: 2px solid indigo;
	border-left: none;
	border-radius: 0;
	transform-origin: center bottom;

	/* skew the right side */
	transform: skewX(2deg);

	z-index: -1;
}

.image {
	width: 100%;
	height: 4rem;
	margin-bottom: 1rem;
	background-size: cover;
	background-position: 0% 0%;
	border-radius: 0;
	transition: background 0.3s ease, transform 0.3s ease;
	transform-style: preserve-3d;
	transform: rotateX(2deg);
}


.card-content {
	display: flex;
	flex-direction: column;
	align-content: space-between;
	padding: 0 0.5rem;
}
h1 {
	font-size: 1.5rem;
	margin-bottom: 0.25rem;
}
p {
	margin-top: 0.5rem;
}
hr {
	border-color: #feeeda;
}

.tab {
	position: absolute;
	top: calc(-2rem + 2.5px);
	right: 2rem;
	display: grid;
	place-items: center;
	height: 2rem;
	padding: 0.15rem 1rem;
	background: cornsilk;
	border-width: 2px;
	border-style: solid;
	border-color: indigo indigo cornsilk indigo;
	border-radius: 0;
	font-weight: 200;
	font-size: calc(0.65rem + 1vmin);
	text-align: center;
	transition: all 0.4s ease-in-out;
}

.wrap:hover .card {
	transform: translateY(-0.25rem);
}
.wrap:hover .card::before,
.wrap:hover .card::after {
	transform: skew(0);
}
.wrap:hover .card::before {
	border-radius: 0.5rem 0 0 0.5rem;
}
.wrap:hover .card::after {
	border-radius: 0 0.5rem 0.5rem 0;
}
.wrap:hover .image {
	background-position: 50% 55%;
	border-radius: 0.25rem;
	transform: rotateX(0deg) translateZ(0.35rem);
}
.wrap:hover .tab {
	border-radius: 0.35rem 0.35rem 0 0;
	font-weight: 600;
}
